.about-container {
    min-height: 60vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(175, 232, 232);
    padding-bottom: 30px;
}

.about-text {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    width: 60%;
    margin-right: 20px;
}

.about-image{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-img{
    width: 200px;
    height: 250px;
    border-radius: 50%;
}

.resume-download{
    text-decoration: none;
}

.resume-button{
    display: flex;
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 5px;
    background-color: rgb(203, 98, 115);
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .about-container {
        flex-direction: column;
        padding: 30px;
    }

    .about-heading{
        display: none;
    }

    .about-text {
        width: 100%;
        margin-right: 0;
    }

    .about-image {
        width: 100%;
        justify-content: center;
        order: -1;
    }

    .profile-img {
        width: 150px;
        height: 200px;
    }
    
}