.contacts-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-bottom: 100px;
}

.contacts-heading{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

.contact-info{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    list-style-type: none;
    justify-content: space-around;
}

.contact-item{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.linkedin-icon{
    width: 50px;
    height: 50px;
    margin: 10px;
    transition: transform 0.3s;
}

.linkedin-link{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

@media screen and (max-width:508px) {
    .contacts-heading{
        font-size: 28px;
    }
    .linkedin-icon{
        width: 25px;
        height: 25px;
    }
    .linkedin-link{
        font-size: 1rem;
    }
}